html body {
  width: calc(100% - 10px);
  height: 100%;
  background: #262626;
  color: #bdbdbd;
  font-family: Cambria;
  overflow-x: hidden;
  min-width: 512px;
  /*linear-gradient(45deg, #D5FFCC 0, #90FF7F 100%);*/
}

@media (max-width: 512px) {
  html body {
    width: 512px;
  }
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: #939db3;
  text-decoration-color: #00000000;
  transition: text-decoration-color 0.5s;
}
a:hover {
  text-decoration-color: #9e9e9e;
}

#main-content-full {
  height: auto;
  min-height: 100%;
}

#main-content-mid {
  height: calc(100% - 200px);
  min-height: 250px;
}

.main-content {
  background: #131313;
  width: 80%;
  max-width: 1024px;
  position: absolute;
  left: calc(10% - 10px);
  box-shadow: 0 0 50px -5px black;
  padding: 50px 10px 25px 10px;
}

@media (min-width: 1255px) {
  .main-content {
    left: calc((100% - 1024px + 10px) / 2);
  }
}

#header {
  width: 100%;
  height: 50px;
  background: #1e1e1e;
  box-shadow: 0 0 5px 0 black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.table {
  display: table;
}

.left {
  display: inline-flex;
  width: 33%;
  height: 50px;
  /*background: red;*/
}

.center {
  display: inline-flex;
  width: 34%;
  height: 50px;
  /*background: green;*/
}

.right {
  display: inline-flex;
  width: 33%;
  height: 50px;
  /*background: blue;*/
}

.logo {
  background: #5c353c;
  /*url("/src/img/logo.png");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.clickable-div {
  width: 100%;
  height: 100%;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 20px;
  background: lightgray;
  opacity: 0.8;
  padding-left: 5px;
  display: flex;
  border-radius: 7px 0 0 0;
  transition-duration: 0.2s;
  border-bottom: 1px solid #aaaaaa;
  z-index: 1024;
}

#footer:hover {
  opacity: 1;
}

#footer-text {
  color: #555555;
  font-size: 10px;
  margin: 0 5px;
  line-height: 16px;
}

.footer-notif-alert {
  background: #f76c9a;
}

.footer-notif-clear {
  background: #a2ccf7;
}

#footer-notif-count {
  border-radius: 100px;
  width: 16px;
  height: 16px;
  text-align: center;
  margin: 2px 5px;
  font-size: 14px;
}

#notif-tray {
  position: fixed;
  right: -200px;
  bottom: 0;
  width: 150px;
  height: 200px;
  padding-left: 5px;
  border-radius: 5px 0 0 0;
  transition-duration: 0.5s;
  z-index: 1023;
  background: lightgray;

  box-shadow: -2px 10px 10px 0px #000;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
}

.notification {
  border-bottom: 1px dashed darkgray;
  font-size: 12px;
  margin: 5px 0;
}

#profile-settings {
  width: 33%;
  height: 50px;
  top: 0;
  position: absolute;
  opacity: 0.3;
  transition-duration: 0.5s;
  background: rgba(255, 255, 255, 0.1);
}

#profile-settings:hover {
  opacity: 1;
}

.dropdown {
  width: 100%;
  opacity: 0;
  display: none;
  transition-duration: 0.5s;
  margin-top: -10px;
}

.row {
  display: table-row;
}

.grid {
  display: grid;
}

.cell {
  display: table-cell;
}

.filler {
  display: table-cell;
  width: auto;
}

.content-wrap {
  line-break: normal;
  word-break: break-word;
}

.setting-dropdown-style {
  text-align: center;
  transition-duration: 0.5s;
  height: 50px;

  font-size: 14pt;
  color: #555555;
  font-family: MV Boli;
  line-height: 50px;
}

.profile-pic-container {
  width: 40px;
  max-height: 50px;
  /*padding-left: 40px;*/
  display: table-cell;
}

.profile-pic {
  width: 30px;
  height: 30px;
  top: 10px;
  position: absolute;
  background: blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125%;
  border-radius: 100px;
  display: block;
}

.username {
  font-size: 10pt;
  color: #555555;
  font-family: MV Boli;
  line-height: 50px;
  text-align: center;
  display: table-cell;
  padding-right: 20px;
  max-width: 200px;
  width: 180px;
}

#site-search {
  width: calc(33% - 30px);
  height: 29px;
  font-size: 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  position: fixed;
  margin-left: 10px;
  border-radius: 7px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.2);
}

#site-search:focus {
  color: rgba(0, 0, 0, 0.75);
}

#new-post-btn-mini {
  display: table-cell;
  width: 50px;
  height: 50px;
}

.dropdown-elm {
  background: #414141;
  opacity: 0.95;
  width: 75%;
  right: 0;
  display: table-cell;
  box-shadow: 5px 5px 7px 0px black;
  border-radius: 2px;
  border-bottom: 1px dashed black;
}

.dropdown-preview {
  width: 100%;
  display: table;
}

#new-post {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  position: fixed;
  top: calc(100% - 75px);
  left: calc(50% - 125px);
  text-align: center;
  font-size: 16pt;
  line-height: 50px;

  transition-duration: 0.25s;
  opacity: 0.29;
  background: #414141;
  color: rgba(0, 0, 0, 0.25);
}

#new-post:hover {
  opacity: 1;
  background: #414141;
}

#new-post:active {
  background: #4c497e;
}

.textInput {
  width: calc(100% - 10px);
  height: 25px;
  margin: 15px 5px 10px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: rgba(98, 144, 88, 0.51);
  padding: 10px 0;
}

input,
textarea {
  transition-duration: 0.5s;
  outline: none;
  border: none;
}

input:invalid,
textarea:invalid {
  background-color: rgba(144, 67, 81, 0.51);
}

input:valid,
textarea:valid {
  background-color: rgba(98, 144, 88, 0.51);
}

#error-msg {
  color: darkred;
}

#submit {
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 16pt;
  margin-top: 10px;
  border-radius: 10px;
  /*background: linear-gradient(0deg, #96da87, #AFFF9E);*/
  background: #414141;
}

#submit:hover {
  /*background: linear-gradient(0deg, #96da87 20%, #AFFF9E)*/
  background: linear-gradient(0deg, #535353, #414141);
}

#submit:active {
  background: #535353;
}

.popup {
  width: 250px;
  height: auto;
  min-height: 50px;
  background-color: #696979;
  border-radius: 15px;
  z-index: 1024;
  position: fixed;
  left: 50%;
  margin-left: -125px;
  top: 70px;
  text-align: center;
  border: 1px solid black;
  opacity: 0;
  transition-duration: 0.5s;
}

.popup.show {
  opacity: 1;
  top: 75px;
}
